<h2>Events List</h2>
<div class="page-size">
<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Data of Begin</th>
        <th>Date of End</th>
        <th>Value</th>
        <th>Online</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>My Event</td>
        <td>12/12/2017</td>
        <td>13/12/2017</td>
        <td>EUR 150,00</td>
        <td>Online</td>
        <td>
          <a title="Details" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Know more
          </a>
        </td>
      </tr>
      <tr>
        <td>DevXperience</td>
        <td>01/09/2017</td>
        <td>02/09/2017</td>
        <td>EUR 100,00</td>
        <td>Dublin</td>
        <td>
          <a title="Details" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Know more
          </a>
        </td>
      </tr>      
    </tbody>
  </table>
</div>
</div>